body {
    background-color: lightblue;
    color: black;
    font-family:'Times New Roman', Times, serif;
  }
h1{
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
h2{
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 10px;
    text-decoration: underline overline;
  }
h3{
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    padding: 10px;
  }
p{
    font-size: 1em;
    line-height: 1.6;
    padding: 10px;
  }
hr{
    border: 2px solid black;
  }

ul{
  list-style-type: disc;
}

nav ul {
  display: flex;
  list-style-type: none;
  background-color: rgb(40, 33, 33);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  animation-name: navcolor;
  animation-duration: 3s
}
@keyframes navcolor{
  from {background-color: rgb(40, 33, 33) ;}
  to {background-color: yellow;}
}
nav li {
  float: left;
  margin: auto;
}

nav li a{
  display: block;
  color: red;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.5em;
}

nav li a:hover {
  background-color: rgb(40, 33, 33);
  text-decoration: underline;
  color: white;
}

nav a:active{
  text-decoration: underline overline;
  border: 2px solid red;
  color: purple;
}
#skip{
  position: absolute;
  top: auto;
  left: -100px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  color: rgb(0,0,0)
}
#skip:focus{
  top: 0px;
  position: static;
  z-index: 2;
}
.pets_gallery{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5px;
  justify-content: flex-end;
}

@media screen and (prefers-reduced-motion: reduce){
  .gif{
    display: none;
  }
  nav ul{
    animation: none;
  }
}

@media only screen and (min-width: 600px) {
  /* This would be used for tablet view */
}

@media only screen and (min-width: 768px) {
  /* This would be used for desktop view */
}

